header {
    /*This is jsut for flavor and color I like this desing*/
    display: flex;
    background-color: #ffae42;
    color: blueviolet;
    border-style: outset;
    border-color: blueviolet;
    border-radius: 10px;
    border-width: 10px;
    width: fit-content;
    font-weight: 600;
}

#instructions {
    display: flex;
    color: red;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
}

.title {
    color: purple;
    display: flex;
    justify-content: center;
    font-size: 100px;
    position: relative;

}

button {
    background-color: blueviolet;
    border-style: outset;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    
}
    