 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
 }

 .hide {
    display: none;
 }

 p {
   color: red;
   font-size: x-large;
   font-weight: 600;
 }

 h1 {
   display: flex;
   justify-content: center;
   color: purple;
 }

 .showTime {
   display: flex;
   justify-content: center;
 }

 button {
   cursor: pointer;
   border-style: outset;
   border-color: goldenrod;
   border-radius: 50px;
   background-color: blueviolet;
   color: white;
   }

 .choices {
    display: flex;
    flex-direction: column;
    position: relative;
 }

 .choices button {
    padding: 6px 0;
    margin-bottom: 5px;
 }

 .choices .answer-alert {
    position: absolute;
    bottom: 0;
 }